body{
  background-color: #066b73;
  display: flex;
  justify-content: center; 
  align-items: center;  
}
h1{
    text-align: center;
}
h2{
    padding-left: 5%;
    padding-right: 5%;
}
p{
    padding-left: 5%;
    padding-right: 5%;
}
b{
    padding-left: 5%;
    padding-right: 5%;
}
.banner{
  background-image: url("https://dorfchild.github.io/assets/svg/mainbanner.svg");
  background-repeat: no-repeat;
  background-size: 125%;
  position: absolute;
  top:0;
  height: 100%;
  width: 100%;
  left: 0;
  background-position-x: 50%;
}
.info{
    font-family: sans-serif;
    background-color: whitesmoke;
    width: 60%;
    height:auto;
    position: absolute;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 24px 0px #054857;
}
.nav{
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color: #054857;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: sans-serif;
  color: whitesmoke;
  display: block;
  transition: 0.3s;
}
.nav a:hover {
  color: white;
}
.close{
  position: absolute;
  top: 1%;
  right:2%;
  color: whitesmoke;
  font-size: large;
}
span{
  position: fixed;
  top:2%;
  left:2%;
  color:whitesmoke;
  overflow: hidden;
}
.material-symbols-outlined.md60 {
   font-size: 200%;
}