.panel{
  width:60%;
  height:auto;
  position:absolute;
  top:50%;
}
.contentLink{
  font-family: sans-serif;
  background-color: #054857;
  border-radius: 10px;
  box-shadow: 0px 0px 24px 0px #04313f;
  width: 30%;
  height:30%;
  display: grid;
}
.contentLink a{
  color: whitesmoke;
  text-align: center;
  padding-bottom: 5%;
}
svg{
  width: 90%;
  height: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}